body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    background: #c9ada7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.graph {
    background: #fff;
    border-radius: 1rem;
    height: 85%;
    width: 100%;
}

@media screen and (orientation: landscape) {
    .graph {
        height: 100%;
    }
}